*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.gradle-user
keystore.properties
*.jks
*.keystore
/keystore
build-debug.ps1
build-release.ps1
*.apk
*.aab
.idea/